---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import featuredDelights from '@/data/featured-delights';
import imageGallery from '@/data/image-gallery';
import openingHours from '@/data/opening-hours';
import testimonials from '@/data/testimonials';
import heroImage from '@/assets/ceyda-ciftci-OSwM-hfJoBQ-unsplash.jpg';
import bakeryImage from '@/assets/austin-park-xAS8pWGMMGA-unsplash.jpg';
import openingHoursImage from '@/assets/fabio-traina-6i6NJgCJ8k0-unsplash.jpg';
import MainLayout from '@/layouts/MainLayout.astro';
import Button from '@/components/Button.astro';
import FeaturedDelightCard from '@/components/FeaturedDelightCard.astro';
import ShowMore from '@/components/ShowMore.astro';
import TestimonialCard from '@/components/TestimonialCard.astro';
import ContactForm from '@/components/ContactForm.astro';
---

<MainLayout>
  <section
    class="container flex flex-col-reverse gap-6 lg:flex-row lg:gap-0 lg:pb-24 lg:pt-36"
  >
    <div class="flex flex-col gap-3 lg:max-w-md lg:gap-8 xl:max-w-[40rem]">
      <h1
        class="font-primary text-heading-4xl font-bold lg:text-heading-5xl xl:text-heading-6xl"
      >
        Where Every Crumb Tells a Delicious Tale
      </h1>
      <p
        class="font-secondary text-body-md text-secondary lg:text-body-lg xl:text-body-xl"
      >
        Step into our bakery, where every bite is a delight! Explore our
        irresistible creations, and indulge in homemade goodness.
      </p>
      <Button
        asChild
        class="mt-[0.75rem] lg:mt-[0.375rem] lg:w-fit xl:mt-[0.46875rem]"
      >
        {
          (className: string) => (
            <a href="" class={className}>
              <span>Get a taste</span>
              <Icon
                name="heroicons:arrow-long-right-20-solid"
                class="h-5 w-5"
              />
            </a>
          )
        }
      </Button>
    </div>
    <div
      class="relative aspect-video flex-1 overflow-hidden rounded-md drop-shadow lg:aspect-auto lg:overflow-visible"
    >
      <Image
        id="hero-image"
        src={heroImage}
        alt="sweet delights bakery interior"
        width={512}
        height={512}
        class="pointer-events-none absolute top-1/2 w-full -translate-y-1/2 lg:right-0 lg:max-w-md xl:max-w-lg"
      />
    </div>
  </section>
  <section class="container flex flex-col gap-8 py-16 lg:gap-16 lg:py-24">
    <header class="space-y-3 lg:text-center">
      <h2
        class="font-primary text-heading-3xl font-bold text lg:text-heading-4xl"
      >
        Featured Delights
      </h2>
      <p
        class="font-secondary text-body-md font-regular text-secondary lg:text-body-lg"
      >
        Irresistible creations that steal the spotlight from every palate
      </p>
    </header>
    <ul class="flex flex-col gap-8 lg:flex-row">
      {
        featuredDelights.map((delight) => (
          <li class="flex-1">
            <FeaturedDelightCard {...delight} />
          </li>
        ))
      }
    </ul>
    <Button asChild class="lg:mx-auto lg:w-fit">
      {
        (className: string) => (
          <a href="" class={className}>
            <span>See our menu</span>
            <Icon name="heroicons:arrow-long-right-20-solid" class="h-5 w-5" />
          </a>
        )
      }
    </Button>
  </section>
  <section class="bg-surface py-16 lg:py-24">
    <div
      class="container flex flex-col gap-6 lg:flex-row lg:items-center lg:gap-16"
    >
      <div class="flex-1">
        <Image
          src={bakeryImage}
          alt="sweet delights bakery entrance"
          width={576}
          class="aspect-video w-full rounded-md object-cover shadow-of-bg-surface lg:aspect-4/3"
        />
      </div>
      <div class="flex flex-1 flex-col gap-3 lg:gap-4">
        <h2
          class="font-primary text-heading-2xl font-bold text lg:text-heading-3xl xl:text-heading-4xl"
        >
          Welcome to Our Bakery
        </h2>
        <p class="font-secondary text-body-md text-secondary xl:text-body-xl">
          At Sweet Delights Bakery, we're all about crafting delightful moments.
          Our passion for baking is a testament to the joy of sharing treats
          with loved ones. Join us on a journey of flavors, textures, and
          heartwarming experiences. Welcome to our world of sweet delights.
        </p>
        <Button
          asChild
          class="mt-[0.6375rem] lg:mt-[0.46875rem] lg:w-fit xl:mt-[0.5625rem]"
        >
          {
            (className: string) => (
              <a href="" class={className}>
                <span>More about us</span>
                <Icon
                  name="heroicons:arrow-long-right-20-solid"
                  class="h-5 w-5"
                />
              </a>
            )
          }
        </Button>
      </div>
    </div>
  </section>
  <section class="container flex flex-col gap-8 py-16 lg:gap-16 lg:py-24">
    <header class="space-y-3 lg:text-center">
      <h2
        class="font-primary text-heading-3xl font-bold text lg:text-heading-4xl"
      >
        Pastry Portraits
      </h2>
      <p
        class="font-secondary text-body-md font-regular text-secondary lg:text-body-lg"
      >
        Capturing the essence of our delectable creations
      </p>
    </header>
    <div
      id="gallery"
      class="group relative -mx-6 flex flex-col sm:mx-0 lg:flex-row lg:gap-8"
      data-show-more="false"
    >
      <ul class="flex flex-1 flex-col lg:gap-8">
        {
          imageGallery.firstColumn.map((image, index) => (
            <li class="group/item lg:[&:nth-child(n+3)]:group-data-[show-more=false]:hidden [&:nth-child(n+4)]:group-data-[show-more=false]:hidden">
              <Image
                src={image}
                alt={`gallery photo ${index + 1}`}
                width={384}
                class="aspect-3/4 w-full border-b-2 border-bg shadow-of-bg-surface lg:rounded-md lg:border-none lg:group-even/item:aspect-square"
              />
            </li>
          ))
        }
      </ul>
      <ul class="flex flex-1 flex-col lg:gap-8">
        {
          imageGallery.secondColumn.map((image, index) => (
            <li class="group-data-[show-more=true]:flex [&:not(:first-child)]:hidden lg:[&:nth-child(-n+2)]:flex">
              <Image
                src={image}
                alt={`gallery photo ${index + 4}`}
                width={384}
                class="aspect-3/4 w-full border-b-2 border-bg shadow-of-bg-surface lg:aspect-[0.818/1] lg:rounded-md lg:border-none"
              />
            </li>
          ))
        }
      </ul>
      <ul
        class="hidden flex-1 flex-col group-data-[show-more=true]:flex lg:flex lg:gap-8"
      >
        {
          imageGallery.thirdColumn.map((image, index) => (
            <li class="group/item lg:[&:nth-child(n+3)]:group-data-[show-more=false]:hidden">
              <Image
                src={image}
                alt={`gallery photo ${index + 7}`}
                width={384}
                class="aspect-3/4 w-full border-b-2 border-bg shadow-of-bg-surface group-last/item:border-none lg:rounded-md lg:border-none lg:group-even/item:aspect-square"
              />
            </li>
          ))
        }
      </ul>
      <ShowMore containerId="gallery" />
    </div>
  </section>
  <section class="bg-surface py-16 lg:py-24">
    <div
      class="container flex flex-col gap-6 lg:flex-row-reverse lg:items-center lg:gap-16"
    >
      <div class="flex-1">
        <Image
          src={openingHoursImage}
          alt="sweet delights bakery"
          width={576}
          class="aspect-video w-full rounded-md object-cover object-top shadow-of-bg-surface lg:aspect-4/3"
        />
      </div>
      <div class="flex flex-1 flex-col gap-2 lg:gap-4">
        <h2
          class="font-primary text-heading-2xl font-bold text lg:text-heading-3xl xl:text-heading-4xl"
        >
          Opening Hours
        </h2>
        <ul class="font-secondary text-body-md text-secondary xl:text-body-lg">
          {
            openingHours.map(({ days, hours }) => (
              <li class="flex justify-between border-b border-primary py-3 last:border-none">
                <p>{days}</p>
                <p>{hours}</p>
              </li>
            ))
          }
        </ul>
        <Button
          asChild
          class="mt-[0.25rem] lg:mt-[0.234375rem] lg:w-fit xl:mt-[0.28125rem]"
        >
          {
            (className: string) => (
              <a href="" class={className}>
                <span>Contact us</span>
                <Icon
                  name="heroicons:arrow-long-right-20-solid"
                  class="h-5 w-5"
                />
              </a>
            )
          }
        </Button>
      </div>
    </div>
  </section>
  <section class="container flex flex-col gap-8 py-16 lg:gap-16 lg:py-24">
    <header class="space-y-3 lg:text-center">
      <h2
        class="font-primary text-heading-3xl font-bold text lg:text-heading-4xl"
      >
        What People Say
      </h2>
      <p
        class="font-secondary text-body-md font-regular text-secondary lg:text-body-lg"
      >
        Hear what our customers have to say about their sweet experiences
      </p>
    </header>
    <div
      id="testimonials"
      class="group relative -mx-6 flex flex-col divide-y divide-primary sm:mx-0 lg:flex-row lg:gap-8 lg:divide-none"
      data-show-more="false"
    >
      <ul
        class="flex flex-1 flex-col divide-y divide-primary lg:gap-8 lg:divide-none"
      >
        {
          testimonials.firstColumn.map((testimonial) => (
            <li class="group/item lg:[&:nth-child(n+3)]:group-data-[show-more=false]:hidden [&:nth-child(n+4)]:group-data-[show-more=false]:hidden">
              <TestimonialCard
                {...testimonial}
                class="group-first/item:pt-0 lg:h-fit lg:bg-surface lg:group-first/item:p-8"
              />
            </li>
          ))
        }
      </ul>
      <ul
        class="flex flex-1 flex-col divide-y divide-primary lg:gap-8 lg:divide-none"
      >
        {
          testimonials.secondColumn.map((testimonial) => (
            <li class="group-data-[show-more=true]:flex [&:not(:first-child)]:hidden lg:[&:nth-child(-n+2)]:flex">
              <TestimonialCard
                {...testimonial}
                class="lg:h-fit lg:bg-surface"
              />
            </li>
          ))
        }
      </ul>
      <ul
        class="hidden flex-1 flex-col divide-y divide-primary group-data-[show-more=true]:flex lg:flex lg:gap-8 lg:divide-none"
      >
        {
          testimonials.thirdColumn.map((testimonial) => (
            <li class="group/item lg:[&:nth-child(n+3)]:group-data-[show-more=false]:hidden">
              <TestimonialCard
                {...testimonial}
                class="group-last/item:pb-0 lg:h-fit lg:bg-surface lg:group-last/item:p-8"
              />
            </li>
          ))
        }
      </ul>
      <ShowMore containerId="testimonials" class="border-none" />
    </div>
  </section>
  <section>
    <div class="bg py-8 lg:pt-24">
      <div class="container">
        <header class="space-y-3">
          <h2
            class="font-primary text-heading-3xl font-bold text lg:text-heading-4xl"
          >
            Get in Touch
          </h2>
          <p
            class="font-secondary text-body-md font-regular text-secondary lg:text-body-lg"
          >
            Any questions or remarks? Just send us a message
          </p>
        </header>
      </div>
    </div>
    <div class="bg-surface">
      <div class="flex flex-col lg:container lg:flex-row lg:gap-16">
        <ul
          class="container flex-1 space-y-3 py-8 lg:mx-0 lg:max-w-none lg:px-0 lg:pb-24"
        >
          <li class="w-fit">
            <a
              href="tel:"
              class="group flex items-center gap-2 hover:text lg:gap-3"
            >
              <Icon
                name="heroicons:phone-20-solid"
                class="h-5 w-5 text-brand"
              />
              <span
                class="font-secondary text-body-md text-secondary group-hover:text group-hover:underline"
              >
                +1 (555) 123-4567
              </span>
            </a>
          </li>
          <li class="w-fit">
            <a
              href=""
              class="group flex items-center gap-2 hover:text lg:gap-3"
            >
              <Icon
                name="heroicons:map-pin-20-solid"
                class="h-5 w-5 text-brand"
              />
              <span
                class="font-secondary text-body-md text-secondary group-hover:text group-hover:underline"
              >
                123 Sweet Street, Bakeryville, CA 12345
              </span>
            </a>
          </li>
        </ul>
        <div class="bg lg:flex-1 lg:bg-surface">
          <ContactForm
            class="container h-fit lg:mx-0 lg:-mt-[11.1875rem] lg:max-w-none lg:px-8"
          />
        </div>
      </div>
    </div>
  </section>
</MainLayout>

<style>
  #hero-image {
    -webkit-mask-image: url('/hero-image-mask-desktop.png');
    mask-image: url('/hero-image-mask-desktop.png');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
  }

  @media (max-width: 1023px) {
    #hero-image {
      -webkit-mask-image: url('/hero-image-mask-mobile.png');
      mask-image: url('/hero-image-mask-mobile.png');
    }
  }
</style>
