---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import featuredDelights from '@/data/featured-delights';
import testimonials from '@/data/testimonials';
import openingHours from '@/data/opening-hours';
import imageGallery from '@/data/image-gallery';
import heroImage from '@/assets/bread.jpg';
import bakeryImage from '@/assets/bakery.jpg';
import MainLayout from '@/layouts/MainLayout.astro';
import Button from '@/components/Button.astro';
import ShowMore from '@/components/ShowMore.astro';
import FeaturedDelightCard from '@/components/FeaturedDelightCard.astro';
import TestimonialCard from '@/components/TestimonialCard.astro';
import ContactForm from '@/components/ContactForm.astro';

const chunkSize = Math.floor(testimonials.length / 3);
const remainder = testimonials.length % chunkSize;

const testimonialsColumn1 = testimonials.slice(
  0,
  chunkSize + (remainder > 0 ? 1 : 0)
);
const testimonialsColumn2 = testimonials.slice(
  chunkSize + (remainder > 0 ? 1 : 0),
  chunkSize * 2 + remainder
);
const testimonialsColumn3 = testimonials.slice(chunkSize * 2 + remainder);
---

<MainLayout>
  <section
    class="container lg:pt-24 lg:pb-36 flex flex-col-reverse lg:flex-row gap-6 lg:gap-0"
  >
    <div class="lg:max-w-[59.54%] flex flex-col gap-6 lg:gap-9 xl:gap-12">
      <h1
        class="font-primary font-bold text-[2.25rem] lg:text-[2.75rem] xl:text-[3.75rem]"
      >
        Sweet Delights Bakery - Where Every Bite <br /> is a Delight!
      </h1>
      <p
        class="font-secondary text-[1rem] lg:text-[1.125rem] xl:text-[1.25rem] leading-relaxed text-neutral/60"
      >
        Step into our bakery, where every bite is a delight! Explore our
        irresistible creations, and indulge in homemade goodness.
      </p>
      <Button
        asChild
        class="lg:w-fit mt-[0.5625rem] lg:mt-[0.6875rem] xl:mt-[0.9375rem]"
      >
        {
          (className: string) => (
            <a href="/menu" class={className}>
              <span>Get a taste</span>
              <Icon
                name="heroicons:arrow-long-right-20-solid"
                class="h-5 w-5"
              />
            </a>
          )
        }
      </Button>
    </div>
    <div class="relative flex-1">
      <Image
        src={heroImage}
        alt="bread"
        height={740}
        class="object-cover aspect-video lg:aspect-auto lg:absolute lg:mt-[-18%] xl:mt-[-20%] lg:rotate-[16deg]"
      />
    </div>
  </section>
  <section class="container py-16 lg:py-24 flex flex-col gap-8 lg:gap-16">
    <h2
      class="font-primary font-bold text-neutral text-[1.75rem] lg:text-[3rem] lg:text-center"
    >
      Featured Delights
    </h2>
    <div class="flex flex-col lg:flex-row gap-8">
      {
        featuredDelights.map((delight) => (
          <FeaturedDelightCard {...delight} class="flex-1" />
        ))
      }
    </div>
    <Button asChild class="lg:w-fit lg:mx-auto mt-[0.4375rem] lg:mt-3">
      {
        (className: string) => (
          <a href="/menu" class={className}>
            <span>See our menu</span>
            <Icon name="heroicons:arrow-long-right-20-solid" class="h-5 w-5" />
          </a>
        )
      }
    </Button>
  </section>
  <section class="py-16 lg:py-24 bg-surface-container">
    <div
      class="container flex flex-col lg:flex-row lg:items-center gap-6 lg:gap-16"
    >
      <div class="flex-1">
        <Image
          src={bakeryImage}
          alt="our bakery"
          width={576}
          class="object-cover aspect-video lg:aspect-4/3 rounded-2xl shadow-hard"
        />
      </div>
      <div class="flex-1 flex flex-col gap-4">
        <h2
          class="font-primary font-bold text-neutral text-[1.5rem] lg:text-[2rem] xl:text-[3rem]"
        >
          Welcome to Our Bakery
        </h2>
        <p
          class="font-secondary text-neutral/60 text-[1rem] xl:text-[1.25rem] leading-relaxed"
        >
          At Sweet Delights Bakery, we're all about crafting delightful moments.
          Our passion for baking is a testament to the joy of sharing treats
          with loved ones. Join us on a journey of flavors, textures, and
          heartwarming experiences. Welcome to our world of sweet delights.
        </p>
        <Button asChild class="lg:w-fit mt-[0.375rem] lg:mt-2 xl:mt-3">
          {
            (className: string) => (
              <a href="/about" class={className}>
                <span>More about us</span>
                <Icon
                  name="heroicons:arrow-long-right-20-solid"
                  class="h-5 w-5"
                />
              </a>
            )
          }
        </Button>
      </div>
    </div>
  </section>
  <section class="container py-16 lg:py-24 flex flex-col gap-8 lg:gap-16">
    <h2
      class="font-primary font-bold text-neutral text-[1.75rem] lg:text-[3rem] lg:text-center"
    >
      Pastry Portraits
    </h2>
    <div
      id="gallery"
      class="group -mx-6 sm:mx-0 relative flex flex-col lg:flex-row lg:gap-8"
      data-show-more="false"
    >
      <ul class="flex-1 flex flex-col lg:gap-8">
        {
          imageGallery.firstColumn.map((image, index) => (
            <li class="[&:nth-child(n+4)]:group-data-[show-more=false]:hidden lg:[&:nth-child(n+3)]:group-data-[show-more=false]:hidden">
              <Image
                src={image}
                alt={`gallery photo ${index + 1}`}
                width={384}
                class="w-full lg:rounded-2xl shadow-soft lg:shadow-hard lg:bg-surface-container border-b-2 lg:border-none border-surface"
              />
            </li>
          ))
        }
      </ul>
      <ul class="flex-1 flex flex-col lg:gap-8">
        {
          imageGallery.secondColumn.map((image, index) => (
            <li class="[&:not(:first-child)]:hidden lg:[&:nth-child(-n+2)]:flex group-data-[show-more=true]:flex">
              <Image
                src={image}
                alt={`gallery photo ${index + 4}`}
                width={384}
                class="w-full lg:rounded-2xl shadow-soft lg:shadow-hard lg:bg-surface-container border-b-2 lg:border-none border-surface"
              />
            </li>
          ))
        }
      </ul>
      <ul
        class="flex-1 hidden group-data-[show-more=true]:flex lg:flex flex-col lg:gap-8"
      >
        {
          imageGallery.thirdColumn.map((image, index) => (
            <li class="group/item lg:[&:nth-child(n+3)]:group-data-[show-more=false]:hidden">
              <Image
                src={image}
                alt={`gallery photo ${index + 7}`}
                width={384}
                class="w-full lg:rounded-2xl shadow-soft lg:shadow-hard lg:bg-surface-container border-b-2 group-last/item:border-none lg:border-none border-surface"
              />
            </li>
          ))
        }
      </ul>
      <ShowMore containerId="gallery" />
    </div>
  </section>
  <section class="py-16 lg:py-24 bg-surface-container">
    <div
      class="container flex flex-col lg:flex-row-reverse lg:items-center gap-6 lg:gap-16"
    >
      <div class="flex-1">
        <Image
          src={bakeryImage}
          alt="our bakery"
          width={576}
          class="object-cover aspect-video lg:aspect-4/3 rounded-2xl shadow-hard"
        />
      </div>
      <div class="flex-1 flex flex-col gap-4">
        <h2
          class="font-primary font-bold text-neutral text-[1.5rem] lg:text-[2rem] xl:text-[3rem]"
        >
          Opening Hours
        </h2>
        <div
          class="font-secondary text-neutral/60 text-[1rem] lg:text-[1.25rem] leading-relaxed"
        >
          {
            openingHours.map(({ days, hours }) => (
              <div class="py-2 flex justify-between border-b border-divider">
                <p>{days}</p>
                <p>{hours}</p>
              </div>
            ))
          }
        </div>
        <Button asChild class="lg:w-fit mt-[0.375rem] lg:mt-2 xl:mt-3">
          {
            (className: string) => (
              <a href="/about" class={className}>
                <span>Contact us</span>
                <Icon
                  name="heroicons:arrow-long-right-20-solid"
                  class="h-5 w-5"
                />
              </a>
            )
          }
        </Button>
      </div>
    </div>
  </section>
  <section class="container py-16 lg:py-24 flex flex-col gap-8 lg:gap-16">
    <h2
      class="font-primary font-bold text-neutral text-[1.75rem] lg:text-[3rem] lg:text-center"
    >
      What People Say
    </h2>
    <div
      id="testimonials"
      class="group -mx-6 sm:mx-0 relative flex flex-col lg:flex-row lg:gap-8 divide-y divide-divider lg:divide-none"
      data-show-more="false"
    >
      <ul
        class="flex-1 flex flex-col lg:gap-8 divide-y divide-divider lg:divide-none"
      >
        {
          testimonialsColumn1.map((testimonial) => (
            <li class="group/item [&:nth-child(n+4)]:group-data-[show-more=false]:hidden lg:[&:nth-child(n+3)]:group-data-[show-more=false]:hidden">
              <TestimonialCard
                {...testimonial}
                class="group-first/item:pt-0 lg:group-first/item:p-8 lg:h-fit lg:bg-surface-container"
              />
            </li>
          ))
        }
      </ul>
      <ul
        class="flex-1 flex flex-col lg:gap-8 divide-y divide-divider lg:divide-none"
      >
        {
          testimonialsColumn2.map((testimonial) => (
            <li class="[&:not(:first-child)]:hidden lg:[&:nth-child(-n+2)]:flex group-data-[show-more=true]:flex">
              <TestimonialCard
                {...testimonial}
                class="lg:h-fit lg:bg-surface-container"
              />
            </li>
          ))
        }
      </ul>
      <ul
        class="flex-1 hidden group-data-[show-more=true]:flex lg:flex flex-col lg:gap-8 divide-y divide-divider lg:divide-none"
      >
        {
          testimonialsColumn3.map((testimonial) => (
            <li class="group/item lg:[&:nth-child(n+3)]:group-data-[show-more=false]:hidden">
              <TestimonialCard
                {...testimonial}
                class="group-last/item:pb-0 lg:group-last/item:p-8 lg:h-fit lg:bg-surface-container"
              />
            </li>
          ))
        }
      </ul>
      <ShowMore containerId="testimonials" class="border-none" />
    </div>
  </section>
  <section class="py-16 lg:py-24 bg-white">
    <div
      class="container flex flex-col lg:flex-row lg:items-center gap-6 lg:gap-16"
    >
      <div class="flex-1">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d195884.7199739243!2d32.76276475!3d39.903376550000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347d520732db1%3A0xbdc57b0c0842b8d!2sAnkara!5e0!3m2!1str!2str!4v1701429555361!5m2!1str!2str"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="w-full aspect-video lg:aspect-4/3 rounded-2xl shadow-hard"
        ></iframe>
      </div>
      <div class="flex-1 flex flex-col gap-4">
        <h2
          class="font-primary font-bold text-neutral text-[1.5rem] lg:text-[2rem] xl:text-[3rem]"
        >
          Get in Touch
        </h2>
        <ContactForm />
      </div>
    </div>
  </section>
</MainLayout>
