---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import MainLayout from '@/layouts/MainLayout.astro';
import Button from '@/components/Button.astro';
import FeaturedDelightCard from '@/components/FeaturedDelightCard.astro';
import heroImage from '@/assets/bread.jpg';
import cinnamonRollsImage from '@/assets/cinnamon-rolls.jpg';
import artisanalBreadImage from '@/assets/artisanal-bread.jpg';
import sugarCookiesImage from '@/assets/sugar-cookies.jpg';
import bakeryImage from '@/assets/bakery.jpg';

const FEATURED_DELIGHTS = [
  {
    image: cinnamonRollsImage,
    title: 'Signature Cinnamon Rolls',
    description:
      'Our freshly baked cinnamon rolls are a customer favorite. Made from a secret family recipe, they are generously smothered in sweet cream cheese icing.',
  },
  {
    image: artisanalBreadImage,
    title: 'Artisanal Bread Selection',
    description:
      'Our selection of artisanal bread, including sourdough, whole grain, and ciabatta, is crafted with care, delivering a perfect balance of crusty exterior and soft, fluffy interior.',
  },
  {
    image: sugarCookiesImage,
    title: 'Butterfly Sugar Cookies',
    description:
      "These beautifully decorated sugar cookies come in various shapes and colors. They're perfect for special occasions or just to satisfy a sweet craving.",
  },
];

const OPENING_HOURS = [
  { days: 'Monday - Friday', hours: '7:00 AM - 7:00 PM' },
  { days: 'Saturday', hours: '8:00 AM - 6:00 PM' },
  { days: 'Sunday', hours: 'Closed' },
];
---

<MainLayout>
  <section
    class="container lg:pt-24 lg:pb-36 flex flex-col-reverse lg:flex-row gap-6 lg:gap-0"
  >
    <div class="lg:max-w-[59.54%] flex flex-col gap-6 lg:gap-9 xl:gap-12">
      <h1
        class="font-primary font-bold text-[2.25rem] lg:text-[2.75rem] xl:text-[3.75rem]"
      >
        Sweet Delights Bakery - Where Every Bite <br /> is a Delight!
      </h1>
      <p
        class="font-secondary text-[1rem] lg:text-[1.125rem] xl:text-[1.25rem] leading-relaxed text-neutral/60"
      >
        Step into our bakery, where every bite is a delight! Explore our
        irresistible creations, and indulge in homemade goodness.
      </p>
      <Button
        asChild
        class="lg:w-fit mt-[0.5625rem] lg:mt-[0.6875rem] xl:mt-[0.9375rem]"
      >
        {
          (className: string) => (
            <a href="/menu" class={className}>
              <span>Get a taste</span>
              <Icon
                name="heroicons:arrow-long-right-20-solid"
                class="h-5 w-5"
              />
            </a>
          )
        }
      </Button>
    </div>
    <div class="relative flex-1">
      <Image
        src={heroImage}
        alt="bread"
        height={740}
        class="object-cover aspect-video lg:aspect-auto lg:absolute lg:mt-[-18%] xl:mt-[-20%] lg:rotate-[16deg]"
      />
    </div>
  </section>
  <section class="container py-16 lg:py-24 flex flex-col gap-8 lg:gap-16">
    <h2
      class="font-primary font-bold text-neutral text-[1.75rem] lg:text-[3rem] lg:text-center"
    >
      Featured Delights
    </h2>
    <div class="flex flex-col lg:flex-row gap-8">
      {
        FEATURED_DELIGHTS.map((delight) => (
          <FeaturedDelightCard {...delight} class="flex-1" />
        ))
      }
    </div>
    <Button asChild class="lg:w-fit lg:mx-auto mt-[0.4375rem] lg:mt-3">
      {
        (className: string) => (
          <a href="/menu" class={className}>
            <span>See our menu</span>
            <Icon name="heroicons:arrow-long-right-20-solid" class="h-5 w-5" />
          </a>
        )
      }
    </Button>
  </section>
  <section class="py-16 lg:py-24 bg-surface-container">
    <div
      class="container flex flex-col lg:flex-row lg:items-center gap-6 lg:gap-16"
    >
      <div class="flex-1">
        <Image
          src={bakeryImage}
          alt="our bakery"
          width={576}
          class="object-cover aspect-video lg:aspect-4/3 rounded-2xl shadow-hard"
        />
      </div>
      <div class="flex-1 flex flex-col gap-4">
        <h2
          class="font-primary font-bold text-neutral text-[1.5rem] lg:text-[2rem] xl:text-[3rem]"
        >
          Welcome to Our Bakery
        </h2>
        <p
          class="font-secondary text-neutral/60 text-[1rem] xl:text-[1.25rem] leading-relaxed"
        >
          At Sweet Delights Bakery, we're all about crafting delightful moments.
          Our passion for baking is a testament to the joy of sharing treats
          with loved ones. Join us on a journey of flavors, textures, and
          heartwarming experiences. Welcome to our world of sweet delights.
        </p>
        <Button asChild class="lg:w-fit mt-[0.375rem] lg:mt-2 xl:mt-3">
          {
            (className: string) => (
              <a href="/about" class={className}>
                <span>More about us</span>
                <Icon
                  name="heroicons:arrow-long-right-20-solid"
                  class="h-5 w-5"
                />
              </a>
            )
          }
        </Button>
      </div>
    </div>
  </section>
  <section class="py-16 lg:py-24 bg-surface-container">
    <div
      class="container flex flex-col lg:flex-row-reverse lg:items-center gap-6 lg:gap-16"
    >
      <div class="flex-1">
        <Image
          src={bakeryImage}
          alt="our bakery"
          width={576}
          class="object-cover aspect-video lg:aspect-4/3 rounded-2xl shadow-hard"
        />
      </div>
      <div class="flex-1 flex flex-col gap-4">
        <h2
          class="font-primary font-bold text-neutral text-[1.5rem] lg:text-[2rem] xl:text-[3rem]"
        >
          Opening Hours
        </h2>
        <div
          class="font-secondary text-neutral/60 text-[1rem] lg:text-[1.25rem] leading-relaxed"
        >
          {
            OPENING_HOURS.map(({ days, hours }) => (
              <div class="py-2 flex justify-between border-b border-divider">
                <p>{days}</p>
                <p>{hours}</p>
              </div>
            ))
          }
        </div>
        <Button asChild class="lg:w-fit mt-[0.375rem] lg:mt-2 xl:mt-3">
          {
            (className: string) => (
              <a href="/about" class={className}>
                <span>Contact us</span>
                <Icon
                  name="heroicons:arrow-long-right-20-solid"
                  class="h-5 w-5"
                />
              </a>
            )
          }
        </Button>
      </div>
    </div>
  </section>
</MainLayout>
