---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import featuredDelights from '@/data/featured-delights';
import imageGallery from '@/data/image-gallery';
import openingHours from '@/data/opening-hours';
import testimonials from '@/data/testimonials';
import heroImage from '@/assets/ceyda-ciftci-OSwM-hfJoBQ-unsplash.jpg';
import bakeryImage from '@/assets/austin-park-xAS8pWGMMGA-unsplash.jpg';
import openingHoursImage from '@/assets/fabio-traina-6i6NJgCJ8k0-unsplash.jpg';
import MainLayout from '@/layouts/MainLayout.astro';
import Button from '@/components/Button.astro';
import FeaturedDelightCard from '@/components/FeaturedDelightCard.astro';
import ShowMore from '@/components/ShowMore.astro';
import TestimonialCard from '@/components/TestimonialCard.astro';
import ContactForm from '@/components/ContactForm.astro';
---

<MainLayout>
  <section
    class="container flex flex-col-reverse gap-6 lg:flex-row lg:gap-0 lg:pb-24 lg:pt-36"
  >
    <div class="flex flex-col gap-3 lg:max-w-md lg:gap-8 xl:max-w-[40rem]">
      <h1
        class="font-primary text-heading-4xl font-bold lg:text-heading-5xl xl:text-heading-6xl"
      >
        Where Every Crumb Tells a Delicious Tale
      </h1>
      <p
        class="font-secondary text-body-md text-secondary lg:text-body-lg xl:text-body-xl"
      >
        Step into our bakery, where every bite is a delight! Explore our
        irresistible creations, and indulge in homemade goodness.
      </p>
      <Button
        asChild
        class="mt-[0.75rem] lg:mt-[0.375rem] lg:w-fit xl:mt-[0.46875rem]"
      >
        {
          (className: string) => (
            <a href="/menu" class={className}>
              <span>Get a taste</span>
              <Icon
                name="heroicons:arrow-long-right-20-solid"
                class="h-5 w-5"
              />
            </a>
          )
        }
      </Button>
    </div>
    <div
      class="relative aspect-video flex-1 overflow-hidden rounded-md drop-shadow lg:aspect-auto lg:overflow-visible"
    >
      <Image
        id="hero-image"
        src={heroImage}
        alt="sweet delights bakery interior"
        width={512}
        height={512}
        class="pointer-events-none absolute top-1/2 w-full -translate-y-1/2 lg:right-0 lg:max-w-md xl:max-w-lg"
      />
    </div>
  </section>
  <section class="container flex flex-col gap-8 py-16 lg:gap-16 lg:py-24">
    <header class="space-y-3 lg:text-center">
      <h2
        class="font-primary text-heading-3xl font-bold text lg:text-heading-4xl"
      >
        Featured Delights
      </h2>
      <p
        class="font-secondary text-body-md font-regular text-secondary lg:text-body-lg"
      >
        Irresistible creations that steal the spotlight from every palate
      </p>
    </header>
    <ul class="flex flex-col gap-8 lg:flex-row">
      {
        featuredDelights.map((delight) => (
          <li class="flex-1">
            <FeaturedDelightCard {...delight} />
          </li>
        ))
      }
    </ul>
    <Button asChild class="lg:mx-auto lg:w-fit">
      {
        (className: string) => (
          <a href="/menu" class={className}>
            <span>See our menu</span>
            <Icon name="heroicons:arrow-long-right-20-solid" class="h-5 w-5" />
          </a>
        )
      }
    </Button>
  </section>
  <section class="bg-surface py-16 lg:py-24">
    <div
      class="container flex flex-col gap-6 lg:flex-row lg:items-center lg:gap-16"
    >
      <div class="flex-1">
        <Image
          src={bakeryImage}
          alt="sweet delights bakery entrance"
          width={576}
          class="aspect-video w-full rounded-md object-cover shadow-of-bg-surface lg:aspect-4/3"
        />
      </div>
      <div class="flex flex-1 flex-col gap-3 lg:gap-4">
        <h2
          class="font-primary text-heading-2xl font-bold text lg:text-heading-3xl xl:text-heading-4xl"
        >
          Welcome to Our Bakery
        </h2>
        <p class="font-secondary text-body-md text-secondary xl:text-body-xl">
          At Sweet Delights Bakery, we're all about crafting delightful moments.
          Our passion for baking is a testament to the joy of sharing treats
          with loved ones. Join us on a journey of flavors, textures, and
          heartwarming experiences. Welcome to our world of sweet delights.
        </p>
        <Button
          asChild
          class="mt-[0.6375rem] lg:mt-[0.46875rem] lg:w-fit xl:mt-[0.5625rem]"
        >
          {
            (className: string) => (
              <a href="/about" class={className}>
                <span>More about us</span>
                <Icon
                  name="heroicons:arrow-long-right-20-solid"
                  class="h-5 w-5"
                />
              </a>
            )
          }
        </Button>
      </div>
    </div>
  </section>
  <section class="container flex flex-col gap-8 py-16 lg:gap-16 lg:py-24">
    <h2
      class="text-neutral font-primary text-[1.75rem] font-bold lg:text-center lg:text-[3rem]"
    >
      Pastry Portraits
    </h2>
    <div
      id="gallery"
      class="group relative -mx-6 flex flex-col sm:mx-0 lg:flex-row lg:gap-8"
      data-show-more="false"
    >
      <ul class="flex flex-1 flex-col lg:gap-8">
        {
          imageGallery.firstColumn.map((image, index) => (
            <li class="group/item lg:[&:nth-child(n+3)]:group-data-[show-more=false]:hidden [&:nth-child(n+4)]:group-data-[show-more=false]:hidden">
              <Image
                src={image}
                alt={`gallery photo ${index + 1}`}
                width={384}
                class="shadow-soft lg:shadow-hard lg:bg-surface-container border-surface aspect-3/4 w-full border-b-2 lg:rounded-2xl lg:border-none lg:group-even/item:aspect-square"
              />
            </li>
          ))
        }
      </ul>
      <ul class="flex flex-1 flex-col lg:gap-8">
        {
          imageGallery.secondColumn.map((image, index) => (
            <li class="group-data-[show-more=true]:flex [&:not(:first-child)]:hidden lg:[&:nth-child(-n+2)]:flex">
              <Image
                src={image}
                alt={`gallery photo ${index + 4}`}
                width={384}
                class="shadow-soft lg:shadow-hard lg:bg-surface-container border-surface aspect-3/4 w-full border-b-2 lg:aspect-[0.818/1] lg:rounded-2xl lg:border-none"
              />
            </li>
          ))
        }
      </ul>
      <ul
        class="hidden flex-1 flex-col group-data-[show-more=true]:flex lg:flex lg:gap-8"
      >
        {
          imageGallery.thirdColumn.map((image, index) => (
            <li class="group/item lg:[&:nth-child(n+3)]:group-data-[show-more=false]:hidden">
              <Image
                src={image}
                alt={`gallery photo ${index + 7}`}
                width={384}
                class="shadow-soft lg:shadow-hard lg:bg-surface-container border-surface aspect-3/4 w-full border-b-2 group-last/item:border-none lg:rounded-2xl lg:border-none lg:group-even/item:aspect-square"
              />
            </li>
          ))
        }
      </ul>
      <ShowMore containerId="gallery" />
    </div>
  </section>
  <section class="bg-surface-container py-16 lg:py-24">
    <div
      class="container flex flex-col gap-6 lg:flex-row-reverse lg:items-center lg:gap-16"
    >
      <div class="flex-1">
        <Image
          src={openingHoursImage}
          alt="sweet delights bakery"
          width={576}
          class="shadow-hard aspect-video rounded-2xl object-cover object-top lg:aspect-4/3"
        />
      </div>
      <div class="flex flex-1 flex-col gap-4">
        <h2
          class="text-neutral font-primary text-[1.5rem] font-bold lg:text-[2rem] xl:text-[3rem]"
        >
          Opening Hours
        </h2>
        <div
          class="text-neutral/60 leading-relaxed font-secondary text-[1rem] lg:text-[1.25rem]"
        >
          {
            openingHours.map(({ days, hours }) => (
              <div class="border-divider flex justify-between border-b py-2">
                <p>{days}</p>
                <p>{hours}</p>
              </div>
            ))
          }
        </div>
        <Button asChild class="mt-[0.375rem] lg:mt-2 lg:w-fit xl:mt-3">
          {
            (className: string) => (
              <a href="/about" class={className}>
                <span>Contact us</span>
                <Icon
                  name="heroicons:arrow-long-right-20-solid"
                  class="h-5 w-5"
                />
              </a>
            )
          }
        </Button>
      </div>
    </div>
  </section>
  <section class="container flex flex-col gap-8 py-16 lg:gap-16 lg:py-24">
    <h2
      class="text-neutral font-primary text-[1.75rem] font-bold lg:text-center lg:text-[3rem]"
    >
      What People Say
    </h2>
    <div
      id="testimonials"
      class="divide-divider group relative -mx-6 flex flex-col divide-y sm:mx-0 lg:flex-row lg:gap-8 lg:divide-none"
      data-show-more="false"
    >
      <ul
        class="divide-divider flex flex-1 flex-col divide-y lg:gap-8 lg:divide-none"
      >
        {
          testimonials.firstColumn.map((testimonial) => (
            <li class="group/item lg:[&:nth-child(n+3)]:group-data-[show-more=false]:hidden [&:nth-child(n+4)]:group-data-[show-more=false]:hidden">
              <TestimonialCard
                {...testimonial}
                class="lg:bg-surface-container group-first/item:pt-0 lg:h-fit lg:group-first/item:p-8"
              />
            </li>
          ))
        }
      </ul>
      <ul
        class="divide-divider flex flex-1 flex-col divide-y lg:gap-8 lg:divide-none"
      >
        {
          testimonials.secondColumn.map((testimonial) => (
            <li class="group-data-[show-more=true]:flex [&:not(:first-child)]:hidden lg:[&:nth-child(-n+2)]:flex">
              <TestimonialCard
                {...testimonial}
                class="lg:bg-surface-container lg:h-fit"
              />
            </li>
          ))
        }
      </ul>
      <ul
        class="divide-divider hidden flex-1 flex-col divide-y group-data-[show-more=true]:flex lg:flex lg:gap-8 lg:divide-none"
      >
        {
          testimonials.thirdColumn.map((testimonial) => (
            <li class="group/item lg:[&:nth-child(n+3)]:group-data-[show-more=false]:hidden">
              <TestimonialCard
                {...testimonial}
                class="lg:bg-surface-container group-last/item:pb-0 lg:h-fit lg:group-last/item:p-8"
              />
            </li>
          ))
        }
      </ul>
      <ShowMore containerId="testimonials" class="border-none" />
    </div>
  </section>
  <section class="bg-white py-16 lg:py-24">
    <div
      class="container flex flex-col gap-6 lg:flex-row lg:items-center lg:gap-16"
    >
      <div class="flex-1">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d195884.7199739243!2d32.76276475!3d39.903376550000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347d520732db1%3A0xbdc57b0c0842b8d!2sAnkara!5e0!3m2!1str!2str!4v1701429555361!5m2!1str!2str"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="shadow-hard aspect-video w-full rounded-2xl lg:aspect-4/3"
        ></iframe>
      </div>
      <div class="flex flex-1 flex-col gap-4">
        <h2
          class="text-neutral font-primary text-[1.5rem] font-bold lg:text-[2rem] xl:text-[3rem]"
        >
          Get in Touch
        </h2>
        <ContactForm />
      </div>
    </div>
  </section>
</MainLayout>

<style>
  #hero-image {
    -webkit-mask-image: url('/hero-image-mask-desktop.png');
    mask-image: url('/hero-image-mask-desktop.png');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
  }

  @media (max-width: 1023px) {
    #hero-image {
      -webkit-mask-image: url('/hero-image-mask-mobile.png');
      mask-image: url('/hero-image-mask-mobile.png');
    }
  }
</style>
