---
import Logo from '@/components/Logo.astro';

const FOOTER_DATA = {
  info: [
    { href: 'tel:', text: '+1 (555) 123-4567' },
    {
      href: 'mailto:',
      text: 'info@sweetdelightsbakery.com',
    },
  ],
  browse: [
    { href: '', text: 'Menu' },
    { href: '', text: 'About' },
    { href: '', text: 'Contact' },
  ],
  follow: [
    { href: '', text: 'Instagram' },
    { href: '', text: 'Twitter' },
    { href: '', text: 'YouTube' },
  ],
  openingHours: [
    'Monday - Friday: 7:00 AM - 7:00 PM',
    'Saturday: 8:00 AM - 6:00 PM',
    '123 Sweet Street, Bakeryville, CA 12345',
  ],
};
---

<footer class="divide-y divide-primary bg-surface">
  <nav
    aria-label="footer"
    class="container flex flex-col gap-8 pb-8 pt-16 lg:flex-row lg:justify-between lg:pt-24"
  >
    <div class="flex flex-col justify-between gap-3">
      <Logo class="w-fit" />
      <ul class="flex flex-col gap-1 lg:gap-2">
        {
          FOOTER_DATA.info.map(({ href, text }) => (
            <li>
              <a
                {href}
                class="font-secondary text-body-md font-regular text-secondary hover:text hover:underline focus-visible:text focus-visible:underline"
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex flex-col gap-3 lg:gap-6">
      <h3 class="font-primary text-heading-xl font-bold text-brand">Browse</h3>
      <ul class="flex flex-col gap-1 lg:gap-2">
        {
          FOOTER_DATA.browse.map(({ href, text }) => (
            <li>
              <a
                {href}
                class="font-secondary text-body-md font-regular text-secondary hover:text hover:underline focus-visible:text focus-visible:underline"
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex flex-col gap-3 lg:gap-6">
      <h3 class="font-primary text-heading-xl font-bold text-brand">Follow</h3>
      <ul class="flex flex-col gap-1 lg:gap-2">
        {
          FOOTER_DATA.follow.map(({ href, text }) => (
            <li>
              <a
                {href}
                class="font-secondary text-body-md font-regular text-secondary hover:text hover:underline focus-visible:text focus-visible:underline"
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex flex-col gap-3 lg:gap-6">
      <h3 class="font-primary text-heading-xl font-bold text-brand">
        We are here for you
      </h3>
      <ul class="flex flex-col gap-1 lg:gap-2">
        {
          FOOTER_DATA.openingHours.map((text) => (
            <li>
              <p class="font-secondary text-body-md font-regular text-secondary">
                {text}
              </p>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
  <div
    class="container flex flex-col gap-1 pb-16 pt-8 lg:flex-row-reverse lg:justify-between lg:pb-24"
  >
    <a
      href=""
      class="w-fit font-secondary text-body-md font-regular text-secondary hover:text hover:underline focus-visible:text focus-visible:underline"
    >
      Privacy Policy
    </a>
    <p class="font-secondary text-body-md font-regular text-secondary">
      &copy; 2020 Sweet Delights, Inc. All rights reserved.
    </p>
  </div>
</footer>
