---
import type { HTMLAttributes } from 'astro/types';
import { cx } from 'class-variance-authority';

type Props = HTMLAttributes<'input'> & {
  id: string;
  label: string;
};

const {
  id,
  label,
  type = 'text',
  required = true,
  class: className,
  ...props
} = Astro.props;
---

<div class="flex flex-col gap-2">
  <label for={id} class="font-primary text-heading-xl font-bold text-brand">
    {label}
  </label>
  <input
    {id}
    name={id}
    {type}
    {required}
    class={cx(
      'h-14 rounded-md border border-secondary bg-surface px-3 font-secondary text-body-md font-regular outline-none focus-visible:border-brand',
      className,
    )}
    {...props}
  />
</div>
